#header{
    margin-top: 30px;
}

.table{
    margin-top: 50px;
}

.table-head {
    color: white;
    background-color: steelblue; 
}

.table-hover tbody tr:hover th {
    color: white;
    background-color: steelblue;
}

.table-hover tbody tr:hover td {
    background-color: aliceblue;
}

.i-custom{
    font-size: 22px; 
    color: steelblue;
}

.i-back{
    margin-right: 20px;
    font-size: 35px;
    color: black;
}

.btn-custom{
    color: steelblue;
    border-color: steelblue;
}

.btn-custom-wide{
    width: 200px;
}

.btn-custom:hover{
    background-color: steelblue;
}